<ion-view title="Menu">

    <ion-content>
        <label class="item item-input">
            <input type="text" placeholder="Pesquisar" ng-model="pesquisa.descricao"></input>
        </label>

        <div class="list " ng-repeat="produto in produtos | filter : pesquisa | orderBy: 'descricao'" >
            <a class="item item-thumbnail-left">
                <img src={{produto.imagem}} ng-click="visualizar(produto.$id)">
                <h2>{{produto.descricao}}</h2>
                <p>Estoque: {{produto.estoque}} </p>
                <p>Preço: {{produto.preco}} </p>          
                <button class="button ion-plus" ng-click="adicionarProduto(produto)" style="background-color:#ffc900"></button>
                <button class="button ion-minus" ng-click="removerProduto(produto.$id)" style="background-color: #ef473a"></button>
            </a>
        </div>

        <!--<button class="button ion-success" ng-click="atualizarPedido()">Fazer pedido</button>-->
        
        

    </ion-content>

    <div class="bar bar-footer bar-balanced">
        <button class="button button-clear" ng-click="atualizarPedido()">Fazer Pedido</button>
        <button class="button button-clear" >Total:</button>
    </div>
    

</ion-view>
