<ion-view title="Menu">

    <ion-content>
        <label class="item item-input">
            <input type="text" placeholder="Pesquisar" ng-model="pesquisa.descricao">
        </label>

        <div class="list " ng-click="" ng-repeat="produto in produtos | filter : pesquisa | orderBy: 'descricao'">
            <a class="item item-thumbnail-left">
                <img src={{produto.imagem}} >
                <h2>{{produto.descricao}}</h2>
                <p>Estoque: {{produto.estoque}} </p>
                <p>Preço: {{produto.preco}} </p>
            </a>
        </div>

</ion-view>