        
        <div class="bar bar-header bar-energized" >
            <h1 class="title">{{item.descricao}}</h1>
            <button class="button-icon ion-arrow-left-c" ui-sref="menu.listaProdutos">
                Voltar
            </button> 
        </div>

    <ion-content>
        
            <div class="list card">

                <div class="item item-body">
                    <img class="full-image" src="{{item.imagem}}">
                    <input type="text" > {{item.descricao}} </p>
                    <p >
                        <a class="subdued"  ></a>Estoque: {{item.estoque}}</a>
                    </p>
                    <p>
                        <a class="subdued">Preço: {{item.preco}}</a>
                    </p>                
                </div>

            </div>    
    </ion-content>
</ion-view>

