        
        <div class="bar bar-header bar-energized" >
            <h1 class="title">{{item.descricao}}</h1>
            <button class="button-icon ion-arrow-left-c" ui-sref="menu.listaProdutos">
                Voltar
            </button> 
        </div>

    <ion-content>
        <form ng-submit="add(itenspedido)">
            <div class="list card">

            <div class="item item-body">
                <img class="full-image" src="{{item.imagem}}">
                <input type="text" ng-model="itenspedido.descricao"> {{item.descricao}} </p>
                <p >
                    <a class="subdued" input type="text" ></a>Estoque: {{item.estoque}}</a>
                </p>
                <p>
                    <a class="subdued"ng-model="itenspedido.precounitario">Preço: {{item.preco}}</a>
                </p>

                
            </div>
            <div class="card">
                <div class="item item-text-wrap">
                    <div class="input-label" ng-model="itenspedido.quantidade">
                        Quantidade:
                    </div>
                    <select>
                        <option selected>1</option>
                        <option >2</option>
                        <option>3</option>  
                    </select>
                    <button class="button button-balanced">
                        Adicionar ao pedido
                    </button>
                </div>
            </div>

            </div>

        </form>            
    
    </ion-content>
</ion-view>

